# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment files
.env
.env.*
backend/.env
frontend/.env

# Build folders
dist/
build/
frontend/dist/
frontend/build/

# Vite / SSR
dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local config
*.local

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?